*, *::after, *::before {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
body {
    box-sizing: border-box;
    background-color: #525252;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.bg-image {
    background-image: url(../../photos/bg.jpg);  
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px)
}
.root {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.contact {
    color: white;
    background-color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    border-radius: 2px;
    transition: 0.5s;
}
.contact:hover {
    background-color: #525252;
}
.contact:active {
    transition: 0.15;
    background-color: white;
    color: #525252;

}

.input {
 font-size: large;
 border: 3px dotted black;
}